:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --wight: #FFFFFF;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --lightgrey-gradient: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
  --lightdrey-color: #EAEAEA;
  --dark-blue: #293449;
  --special-dark-blue: #32425C;
  --black: #000000;
  --white-yellow: #F7F3EC;
  --light-gray: #E5E5E5;
  --gray: #a9a9a9;
  --smoky-white: #f9f5f0;
  --blue-grey: #405069;
  --sapphire: #161D29;
  --black-blue: #1D2739;
  --dark-green: #367315;
  --green-moss: #518534;
  --social-button: #212A3A;
  --smoky-grey: #D7DCDE;
  --grey: #F4F4F4;

}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.dark-background {
  background-color: var(--dark-blue);
}

.navigation,
.dark-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.basic-width {
  width: 940px;
  margin: 0 auto;
}

.navigation a {
  color: inherit;
  height: 100%;
  padding: 9px 0;
}

.navigation button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  padding: 9px 16px 9px 19px;
  border: none;
}

.header-logo,
.footer-logo {
  background-color: var(--basic-red);
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 40px;
}

.footer-logo {
  height: 68px;
  margin-bottom: 22px;
}

.header-logo:active {
  background-color: var(--error);
}

.header,
.footer {
  color: var(--wight);
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background: var(--basic-background);
}

.header-icons {
  opacity: 30%;
}

.header-icons:hover {
  opacity: 100%;
}

.header-icons:active {
  opacity: 30%;
}

.bookmarks:active,
.basket:active {
  opacity: 50%;
  background-color: var(--sapphire);
}

.basket {
  min-width: 94px;
}


.input-search {
  background-color: var(--dark-blue);
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  padding: 9px;
}

input.input-search::placeholder {
  color: var(--wight);
}

.input-search:focus {
  background-color: var(--wight);
  color: var(--black);
}


.btn-order {
  background-color: var(--basic-green);
  border: none;
}

.btn-order:hover {
  background-color: var(--success);
}

.btn-order:active {
  opacity: 50%;
}

.description {
  font-weight: 100;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  width: 197px;
  margin: 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-tel {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  background-color: var(--basic-background);
  border: 3px solid var(--wight);
  width: 270px;
  height: 45px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header-address {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--special-dark-blue);
  margin: 0;
  padding: 0;
}

.user-nav {
  display: flex;
}

.user-item {
  display: inline;
}

.user-nav,
.user-btns,
.account,
.nav-list,
.breadcrumbs,
.form-list,
.sort-list,
.pagination,
.products,
.products-main-page,
.nav-top-list,
.nav-bottom-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.account {
  display: flex;
  justify-content: center;
  margin-top: 19px;
}

.orders::after {
  position: absolute;
  content: " ";
  width: 4px;
  height: 4px;
  background: var(--special-dark-blue);
  border-radius: 70px;
  top: 7px;
  left: 90px;

}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.btn-login,
.user {
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--wight);
  border: none;
  align-items: center;
  margin-left: 10px;
  padding: 12px 24px;
  height: 45px;

}

.user-icon {
  margin-right: 6px;
}

.logout-icon {
  color: var(--black);
  background-color: var(--wight);
  fill: currentColor;
  color: var(--basic-greylight);
  padding: 15px 17px 12px 0px;
}

.btn-input {
  display: flex;
  padding-left: 19px;
  padding-right: 27px;
}

.user-icon {
  fill: currentColor;
  color: var(--basic-greylight);
}

.btn-login:hover,
.orders:hover,
.personal-account:hover {
  color: var(--basic-red);
}

.btn-login:hover .user-icon {
  color: var(--basic-grey);
}

.user-item:hover .user-icon {
  color: var(--basic-grey);
}

.logout-icon:hover {
  color: var(--basic-grey);
}

.btn-login:active,
.user-icon:active,
.orders:active,
.personal-account:active,
.user:active {
  color: var(--basic-greylight);
}

.btn-login:active .user-icon {
  color: var(--basic-greylight);
}


.account-item {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-dark-blue);
}

.orders,
.personal-account {
  color: var(--special-dark-blue);
}

.orders {
  margin-right: 33px;
  position: relative;
}

.nav {
  background-color: var(--special-dark-blue);
  box-shadow: inset 0px -5px 0px var(--dark-blue);
  margin-bottom: 60px;
}

.light-footer {
  display: flex;
  justify-content: space-between;
}

.nav-footer {
  background-color: var(--special-dark-blue);
  padding-top: 37px;
  padding-bottom: 74px;
}

.nav-top-list,
.nav-bottom-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}


.nav-top-list {
  margin-bottom: 34px;
}

.nav-top-item,
.nav-bottom-item {
  margin-left: 59px;
}

.nav-top-link {
  color: inherit;
}

.nav-bottom-link {
  color: var(--special-yellowlight);
}

.nav-top-link[href]:hover,
.nav-bottom-link[href]:hover {
  text-decoration: underline;
}


.nav-top-item:active,
.nav-bottom-link:active {
  opacity: 50%;
  text-decoration: none;
}

.main {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  font-weight: normal;
}

.catalog {
  display: grid;
  grid-template-rows: min-content 1fr;
}

fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

.price-fieldset {
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--light-gray);
}

.maker-fieldset {
  margin-top: 16px;
  padding-top: 16px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  background-color: var(--white-yellow);
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--smoky-grey);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 95px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: var(--white-yellow);
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.form {
  width: 220px;
}

.filters {
  width: 180px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.form-subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--black);
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
  list-style: none;
  padding: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}


.filter-input-checkbox:hover+label,
.filter-input-checkbox:focus+label {
  color: var(--special);
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-greylight);
  border-radius: 5px;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -38px;
  width: 23px;
  height: 23px;
  background-image: url("img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--basic-greylight);
  border-radius: 50%;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -36px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
}

.filter-button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 220px;
  margin: 0;

}


.price-range {
  height: 80px;
  width: 220px;
  background-color: var(--white-yellow);
}

.form-filter,
.sort-list,
.sort {
  font-family: inherit;
  font-weight: inherit;
  background-color: var(--white-yellow);
  margin: 0;
}

.form-filter {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin: 0;
  margin-bottom: 14px;
}

.sort {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.sort-link {
  color: inherit;
  opacity: 30%;
  border-bottom: 1px dotted var(--basic-red);
}

.sort-link:hover {
  color: var(--black);
  opacity: 100%;
  border-bottom: 1px solid var(--basic-red);
}

.sort-link:active,
.sort-link.active {
  color: var(--basic-red);
  opacity: 100%;
  border: none;
  fill: currentColor;
}

.price-filter,
.price-filter:hover,
.price-filter:active {
  border: none;
}

.nav-link {
  color: var(--wight);
  padding-top: 16px;
  padding-bottom: 20px;
  display: block;
  text-align: center;
}

.nav-link[href]:hover {
  color: var(--wight);
  background-color: var(--dark-blue);
}

.nav-item {
  min-width: 133px;
}

.nav-link:active {
  background-color: var(--black-blue);
  opacity: 50%;
  box-shadow: inset 0px -5px 0px #293449;
}

.features {
  padding-bottom: 59px;
  padding-top: 59px;
}

.feature {
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}

.feature-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
}

.feature-list-column {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  row-gap: 20px;

}

.feature-title {
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  color: var(--wight);
  padding-top: 20px;
  padding-left: 22px;
  margin: 0;
  text-transform: none;
}

.btn-feature {
  color: var(--wight);
  background-color: rgb(255, 255, 255, 30%);
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 135px;
  text-align: center;
  margin-left: 22px;
  margin-top: 14px;
  margin-bottom: 21px;
}

.btn-feature:hover {
  background-color: rgba(197, 197, 197, 30%);
}

.btn-feature:active {
  background-color: rgba(169, 169, 169, 30%);
}

.feature-icon {
  position: absolute;
  top: 31px;
  left: 194px;
}

.slide-left {
  position: absolute;
  left: 25px;
  top: 123px;
  border: none;
}

.slide-right {
  position: absolute;
  right: 21px;
  top: 123px;
  border: none;
}

.features-slider {
  position: relative;
}

.features-slide {
  width: 620px;
  display: none;
}

.features-slide.active {
  display: block;
}

.features-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
}

.indicators {
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  width: 30px;
  bottom: 36px;
  left: 295px;
  margin: 0;
  padding: 0;
}

.slider-indicator {
  width: 10px;
  height: 10px;
  background: var(--wight);
  border-radius: 50%;
  border: none;
  padding: 0;
  position: absolute;

}

.slider-indicator.active {
  background-color: var(--basic-red);
  border: 2px groove var(--wight);

}

.feature-yellow {
  background-color: var(--special-ylellow);

}

.feature-blue {
  background-color: var(--special-blue);
}

.feature-pink {
  background-color: var(--special-lilac);
  margin: 0;
}

.feature-green {
  background-color: var(--special-greenlight);
}

.feature-lightyellow {
  background-color: var(--special-yellowlight);
}

.slide-title {
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--wight);
  position: absolute;
  top: 23px;
  left: 24px;
  margin: 0;
}

.slide-desc {
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--wight);
  position: absolute;
  margin: 0;
  top: 64px;
  left: 24px;
}

.slide-img {
  display: block;
}

.features-slide .btn {
  position: absolute;
  left: 24px;
  bottom: 27px;
  padding-right: 46px;
  padding-left: 46px;
  margin: 0;
}

.btn {
  background-color: var(--basic-red);
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--wight);
  text-transform: uppercase;
  padding: 11px 24px 9px;
  text-align: center;
  border: none;
  box-shadow: none;
  margin-right: 14px;
}

.btn:active {
  background-color: var(--error);
}

.btn-white {
  background-color: var(--wight);
  color: var(--black);
  border: 1px solid var(--light-gray);
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

}

.title {
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-dark-blue);
  margin: 0;
  padding: 0;
  margin-left: 28px;
}

.section-header {
  background-color: var(--smoky-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.popular-products {
  margin-bottom: 70px;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 48px;
}

.products-main-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.product-cards {
  width: 700px;
  margin-bottom: 69px;
}

.sorting {
  display: grid;
  grid-template-columns: 8fr 1fr;
  margin-bottom: 28px;

}

.sort-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}


.breadcrumb-link {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-top: 21px;
  margin-bottom: 20px;
}

.arrow {
  padding-left: 15px;
  padding-right: 17px;
}

.catalog .section-header {
  background-color: var(--basic-background);
}

.catalog-body {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.product {
  border: 1px solid var(--lightdrey-color);
  width: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
  height: 100%;
  box-sizing: border-box;
}

.product:hover,
.maker-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.maker-item:active {
  opacity: 50%;
}

.product-title,
.product-old-price {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.product-old-price {
  color: var(--gray);
  margin-bottom: 13px;
  margin-top: 7px;
}

.btn-buy {
  background-color: var(--basic-green);
  color: var(--wight);
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  box-shadow: inset 0px -3px 0px var(--dark-green);
  border-radius: 2px;
  border: none;
  fill: currentColor;
  display: none;
}

.cart-icon {
  opacity: 30%;
}

.btn-buy:hover {
  background-color: var(--success);
}

.btn-buy:active {
  background-color: var(--green-moss);
}

.btn-bookmark {
  background-color: var(--wight);
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--special-dark-blue);
  text-transform: uppercase;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  display: none;
}

.btn-bookmark:hover {
  border: 3px solid var(--special-dark-blue);
}

.btn-bookmark:active {
  opacity: 50%;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 0;
  padding: 0;
}

.btn-pagination {
  background-color: var(--wight);
  border: 1px solid var(--light-gray);
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  color: inherit;
  margin-right: 10px;
  display: block;
  height: 38px;
  width: 38px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.next {
  width: 140px;
}

.btn-pagination[href]:hover,
.btn-white:hover {
  border: 1px solid var(--basic-greylight);
}

.btn-pagination:active,
.btn-white:active {
  border: 1px solid var(--basic-red);
}

.btn-pagination.active {
  background-color: var(--basic-red);
  color: var(--wight);
}

.product-new-price {
  color: var(--wight);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  width: 122px;
  height: 38px;
  background: var(--basic-red);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  margin: 0;
}


.product-new-price:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-left: 19px solid var(--basic-red);
  border-bottom: 19px solid transparent;
  position: absolute;
  left: 100%;
}

.desc {
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
  margin: 0;
}

.maker {
  margin-bottom: 73px;
}

.maker-list {
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.maker-item {
  width: 220px;
  height: 145px;
  border: 1px solid var(--lightdrey-color);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.maker-logo {
  display: block;
}

.basic-background {
  background-color: var(--basic-background);
}



.services-subtitles {
  margin: 0;
  padding: 0;
  margin-bottom: 99px;
  list-style: none;
}

.services {
  padding-top: 64px;
}

.services-slide {
  display: none;
}

.services-slide.active {
  display: block;
}

.services .title {
  margin: 0;
  margin-bottom: 25px;

}

.services-slide .title {
  padding: 0;
  margin-bottom: 30px;
}

.services-btn {
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  color: var(--wight);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-transform: none;
  display: block;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 22px;
  list-style: none;
  width: 240px;
  background-color: var(--special-dark-blue);
  box-shadow: 0px 1px 0px var(--dark-blue), inset 0px 1px 0px var(--blue-grey);
}

.services-btn:hover {
  background-color: var(--dark-blue);
}

.services-btn.active {
  background-color: var(--wight);
  box-shadow: 0px 1px 0px var(--wight), inset 0px 1px 0px var(--wight);
  color: var(--special-dark-blue);
}

.services .desc {
  width: 396px;
  margin: 0;

  margin-bottom: 70px;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.services-articles {
  position: relative;
}

.services-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.services .services-slide .desc {
  width: 278px;
}

.services .services-slide .desc {
  width: 331px;
}


.services-input {
  display: none;
}

.company-contact {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 70px;
  padding-bottom: 70px;
}

.company-contact .title {
  margin: 0;
  margin-bottom: 24px;

}

.company {
  width: 478px;
}

.contacts .desc {
  margin: 0;
}

.company-list {
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 20px;

}

.company-item {
  list-style: none;
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  display: flex;
  align-items: center;
  margin-bottom: 12px;

}

.company-item:before {
  content: '';
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  margin-right: 12px;
  flex-shrink: 0;
  margin-top: 10px;

}

.map-img {
  margin-bottom: 25px;
  margin-top: 32px;
}

.product-description {
  padding-top: 64px;
  padding-bottom: 68px;
  width: 907px;
}

.product-description .title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}


.hidden {
  display: none;
}

.footer {
  background-color: var(--special-dark-blue);
  /*display: grid;
  grid-template-rows: 2fr 1r;     надо ли?*/
}

.footer-contact {
  color: var(--wight);
  margin: 0;
  width: 323px;
}

.socials {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.copyright {
  width: 256px;
  margin: 0;
  padding: 0;
}

.dark-footer {
  padding-top: 36px;
  padding-bottom: 34px;
  font-size: 16px;
  line-height: 18px;
}

.socials-button {
  background-color: var(--social-button);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 1px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback {
  width: 137px;
  margin: 0;
  padding: 0;
}

.developed {
  width: 100px;
  margin: 0;
  padding: 0;
}

.feedback-email,
.site-developer {
  color: var(--special-yellowlight);
}

.feedback-email:hover,
.site-developer:hover {
  text-decoration: underline;
}

.feedback-email:active,
.site-developer:active {
  text-decoration: none;
  color: var(--basic-red);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--wight);
  border-top: 7px solid #ff5257;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.write {
  height: 430px;
  width: 620px;
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: none;

}

.modal-form {
  display: grid;
  grid-template-rows: min-content min-content;
}

.modal-form input,
.modal-form textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  padding-left: 12px;
  color: var(--gray);
}

.popup-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  padding: 39px 80px 0 80px;
}

.modal-input {
  width: 220px;
  height: 38px;
  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 18px;
  margin-bottom: 13px;
}

.modal-textarea {
  width: 460px;
  height: 114px;
  margin-bottom: 37px;
}

.modal-label {
  display: flex;
  flex-direction: column;
}

.modal-footer {
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  padding-bottom: 38px;
  padding-top: 37px;
}

.btn-footer {
  width: 460px;
  margin: 0;
  cursor: pointer;
}

.modal-close {
  position: absolute;
  right: 11px;
  top: 14px;
  cursor: pointer;
  float: right;
  height: 21px;
  width: 21px;
  border: 0;
  background-color: transparent;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-red);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.map {
  width: 943px;
  height: 449px;
  display: none;
}

.map frame {
  border: none;
}

.product-cart {
  width: 620px;
  height: 282px;
  display: grid;
  grid-template-rows: 1fr min-content;
  display: none;

}

.modal-cart {
  font-family: "Cuprum", "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-cart p {
  margin-left: 21px;
}

.product-cart .btn,
.product-cart .btn-white {
  height: 38px;
  width: 192px;
}
